*{
    margin:0;
    padding:0;
}
html, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, strong, sub, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, header, hgroup, 
menu, nav, output, section, time {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
}

footer{
    position:fixed;
    
    width:100%;
    margin: 0 auto;
}


:root {
    --white:#fdf7e9;
    --black:#232323;
    --gray:#3a3a3a;
    --gray-hover:#595959;
}


@viewport{
    zoom: 1.0;
    
}

div#header {
    width: 100%;
    height: 100px;
    
    opacity: 1;
    
}

div.headerElements {
    float: left;
    height: 100%;
    width: 10%;
    text-align: center;
}

.page_title{
    cursor:pointer;
    margin: auto 0;
    display: inline-block;
    vertical-align: middle;
    
    padding:10px;
    line-height: 30px;

  
    
    
    
    white-space: nowrap;
     /* moved down by 50% of the screen height */
     /* moved back up (Y axis) by half of its height to achieve the perfect center */
    width: 100%; /* needs to be defined to keep the default block behavior */
    text-align: left;
    
    
    margin:0 ; /* again, for perf
    */
    color: var(--white);
    font: 50px 'Gotham';
    font-size: 4vw;
    
  
    

}


body {


    overflow:hidden;
    background-color:var(--black);
    border: 6px solid var(--white);
    -webkit-box-sizing: border-box;/* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;/* Firefox, other Gecko */
    box-sizing: border-box;/* Opera/IE 8+ */
    
    
  
    
    
}


html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    
    overflow-x:hidden;
    
}



.night_circle {
    visibility:hidden;
    cursor:pointer;
    position: absolute;
    
    bottom: 20px;
    right: 20px;
    
    height: 50px;
    width: 50px;
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
}  
.night_circle:hover{
    background-color: var(--gray);
}

#fretborder{
    visibility:hidden;
    border-radius:5px;
    position: relative;
    top:-20px;
    right:-39px;
    height:210px;
    width:767px;
    background-color:var(--white);
    z-index:-100;
}

.random{
    visibility:visible;
    position:absolute;
    height:30px;
    top:-13px;
    left:9px;
    
    color: var(--white);
    font: 11px 'Gotham';

    cursor:pointer;
}
.random:hover{
    color:black;
}

.reset{
    
    
    visibility:visible;
    position:relative;
    height:30px;
    top:0px;
    left:10px;
    
    color: var(--white);
    font: 14px 'Gotham';

    cursor:pointer;
}

.reset:hover{
    color: black;

    
    
}

/*
.reset:hover{
    left:0px;
    color: #b59214;
    font: 140px 'Gotham';
}
*/

#black{
    box-shadow: -50px -20px 0px 0px var(--white), -50px 20px 0px 0px var(--white),40px -20px 0px 0px var(--white),40px 20px 0px 0px var(--white); 
    border-radius:5px;
    
    
}

.item {
    
    display:inline-block;
    margin: 0.7rem;
    background: #f3edd6;
    border: 3px solid #b59214;
    color: #b59214;
    padding: 2.8rem;
    font-size: 2rem;
    text-align: center;
    width:10px;
  }


.input_msg{
    
    
    white-space: nowrap;
    opacity:0;
    font: 15px 'Gotham';
    margin-left: 250px;
    
    color: var(--black);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.chords{
    border: 0px solid #fdf7e9;
    

    /*
    height:33px;
    margin: auto auto;
    margin-top:0%;
    */
    
    
    
    cursor: pointer;
    margin-left:60px;
    
    display:inline-block;
    
    justify-content: flex-start;
    flex-direction:row;
    font: 20px 'Gotham';
    color: var(--gray-hover);
    opacity:0.7;
    


    -webkit-transition: -webkit-transform 2s ease-in-out;
}

.chords:hover{
    opacity: 1 !important;
}
    




.chords.chord0.anim{
    transform: translateX(180px);
}
.chords.chord1.anim{
    transform: translateX(-120px);
}

.chords.chord0{
    transform: translateX(0%);
}

.chords.chord1{
    transform: translateX(0%);
}




/*
.chords{

    
    border: 0px solid #fdf7e9;
    border-right-width:0px;

    height:5px;
    display:inline-flex;
    
    
    
    font: 20px 'Gotham';
    color: var(--gray-hover);
    margin-left:50px;
    
    margin-top:6px;
    cursor:pointer;
}


.chords .chord0{ order:0;}
.chords .chord1{ order:0;}
.chords .chord3{ order:0;}
.chords .chord4{ order:0;}
.chords .chord5{ order:0;}

.chords .chord2{
    margin-left:20px;
    order:0;
}

.chords:hover{
    color: var(--gray);
}
*/



.chord_diagram{
    display: inline-block;
    opacity:0.7;

    top:6px;
    position:absolute;
    height:90%; 
    display:inline-block;
    cursor: pointer;
    background-clip:content-box;
    -webkit-filter: none;

  -moz-filter: none;

  -ms-filter: none;

  -o-filter: none;

  filter: none;
    
}


.chord_diagram:hover{
    opacity:1 ;
 
    border-top: 3px solid transparent !important;

}
#chord_diagram_container{

    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position:relative;
    background-color: var(--white);

    /*
    border: 1px solid green;

    */
    height:120px;
    
    width: 765px;
    

    right:28px;
    top: 36%;

}

.frets{
    font-family: 'Marvel';
    margin-left:35.65px;
    font-size:11px;
}
.fret_numbers{
    visibility: hidden;
    left:-14px;
    top:-990px;
    
    position: relative;
    
    
    /*
    border: 1px solid green;
    */
    height:10px;
    width:710px;
}




#chord_name_container{
    border: 0px solid red;
    
    display: flex;
    align-items: center;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    background-color: var(--white);
    
    /*
    border: 1px solid green;

    */
    
    height:35px;
    width: 765px;
    right:28px;
    top: 35%;
    
}


.info{
    color:white;
    margin-top:80%;
    border: 1px solid green;
}

#title{
    
    
    position:absolute;
    width:600px;
    left:28%;
    top:15%;
    
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

#everything{
    
    zoom:1;
    transform: scale(1);
    
    
}


#fretboard {

    border: 1px solid transparent;
    position: relative;
    
    
    width:710px;
    height:500px;
    margin: 0 auto;
    
    
    
    
    
    
    
    
    
    
}



@-moz-document domain('whatsmychord.com') {
.header{
    visibility:visible;
}


}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    

    #id-name {
        position:absolute;
        width:100px;
        height:100px;
        left:100px;
        bottom:100px;
    }
    }

.header{
    display:inline-block;
    
    visibility:visible;
    width:100%;
    height:100px;
    line-height:100px;

    text-align: center;
    
    
    background-color:gray; 
    
}

.logo_container{
    
    height:160px;
    top:-20px;
    text-align:left;
    position:relative;
    border: 1px solid green;
    
}

#rightbar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 7%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: -1; /* Stay on top */
    top: 0; /* Stay at the top */
    right:0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  
  }



#sidebar{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}


.x{
    visibility:hidden;
    width:12px;
    opacity:0;
    
    
    position:relative;
    font-family:  'Arial', sans-serif;
    font-size: 1.2em;
    color: rgb(105, 105, 105);
    font-weight: bold;
    
    top: -436px;
    left: -5px;
    display: block;
    margin-top: 8px;
}

.x:hover{
    opacity:1;
    color: rgb(170, 59, 59);
}

.x:hover.string1{
    opacity:1;
    color: rgb(170, 59, 59);
}
.x.string1{
    opacity:0;
    display:block;
}

#fret_full{

    
    position:absolute;
    
    left: 23px;
    width: 672px;
    height:160px;
    

    top: 15%;
   
   
    
    
}



.box {
    opacity: 0;
    position:relative;
    cursor: pointer;
    border: 1px solid red;
    top: -13px;
    width: 674px;
    left: -5px;
    height: 10px;
    
}



.nudge{
    
    opacity: 1;

    border-spacing: 0;
    margin: 0;
    padding: 0;
    margin-right:15.5px;
    margin-top:4.8px;

    
    
    
    cursor: pointer;
    position: relative;
    
    top:3px;
    left: 14px;
    right: 40px;
    
    width: 23px;
    height: 20px;
    
    border: 1px solid transparent;
    
    /* opacity: 0; 
    
    
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    */
}

.nudge:hover{
    
    
    opacity:1;
    margin-right:19px;
    margin-top:2px;

    width: 16px;
    height:16px;
    border-radius: 50%;
    background-color: var(--white);
    border:1px solid var(--gray);
    
}

#nodegrid{
    position:absolute;
    
    width:100%;
    border: 1px solid transparent;
    height:198px;
    top:-20px;
    margin:0 auto;
    
    
    
    /* shift everything here*/ 
    
}

@font-face {
    font-family: 'Gotham';
    src: url('./GothamBold.eot');
    src: url('./GothamBold.eot?#iefix') format('embedded-opentype'),
        url('./GothamBold.woff2') format('woff2'),
        url('./GothamBold.woff') format('woff'),
        url('./GothamBold.svg#GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
}



.note_circle{
    
    display:flex;
    
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;   

    position: relative;
    top:-619px;

    

    left:-35px;
    
    border-radius: 50%;
    width: 9px;
    height: 9px;
    padding: 8px;

    background: var(--gray);
    border: 1px solid var(--white);

    font: 20px 'Gotham';
    line-height: 9px;
    
    text-align:center;
    margin-top:4px;
    margin-left:2.5px;
    
    cursor: pointer;
    
    font-weight: bold;
}

b{
    font-family: 'Noto Serif', serif;
    font-size:0.8em;
}

.text_circle{
    
    display:block;
    font: 1em 'Gotham';
    
    line-height:26.5px;
    margin-top:-10px;
    text-align:center;
    font-weight: bold;
    
    margin-left:-2px;
    
    align-items: center; 
    justify-content: center;
    text-align: center; 
    color: var(--white);
    
    
}

.open{

    
    cursor: pointer;
    display:flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;    
    position:relative;

    margin-top:4px;
    top: -432px;
    left:-32px;
    width: 23px;
    height:23px;
    
    border: 2px solid var(--white);
    border-radius: 50%;
    background-color: var(--gray-hover);
    
}

.new{
    
    position:relative;
    width:27px;
    height:27px;
    display:flex;
    top:-617px;
    left:-32px;
    margin-top:4px;
    cursor:pointer;
}


.play-button{
    
    position:relative;
    left:740px;
    top:110px;
}

.round-button {
    
	box-sizing: border-box;
	display:block;
	width:70px;
	height:70px;
	padding-top: 17px;
	padding-left: 8px;
	line-height: 20px;
	border: 6px solid var(--black);
	border-radius: 50%;
	color:var(--black);
	text-align:center;
	text-decoration:none;
	background-color: var(--white);
	font-size:13px;
	font-weight:bold;
	transition: all 0.3s ease;
}


.round-button:hover {
    background-color: rgba(0,0,0,0.8);
    
    /*
	box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 10px white;
    */
}
#holder{
    width:680px;
    
}
.square {
    visibility:hidden;
    bottom:800px;
    right:1px;
    display:inline-block;
    position:relative;
    height: 25px;
    width: 39px;
    border: 1px solid transparent;
    
    
}

.spinner {
    width: 40px;
    height: 40px;
    left:45%;
    position: absolute;
    margin: 40px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
    .nudge{
        visibility:hidden;
        cursor: default;
    }
    .note_circle{
        cursor:default;   
    }
    
    .open{
        cursor:default;
    }
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}



  @media only screen and (max-device-width:768){
    

    .square {
        
        bottom:800px;
        right:1px;
        display:inline-block;
        position:relative;
        height: 25px;
        width: 39px;
        border: 1px solid transparent;
        
    }
    .nudge{
        visibility:hidden;
        cursor: default;
    }
    .note_circle{
        cursor:default;   
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    }
    
    .open{
        cursor:default;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    }
    .round-button{
        cursor:default;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    }
    .chord_diagram{
        cursor:default;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    }
    .chords{
        cursor:default;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    }

    .reset{
        cursor:default;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    }
    .random{
        cursor:default;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    }
    
  }



  /* ============DESKTOP SQUISHED=============== */


  @media only screen and (max-width:926px){
    

    }

  @media only screen and (max-width:800px){

        .new{
            transform:rotate(-90deg);
        }

       .page_title{

         font-size:4.5vw;
       }
       #fret_full{
           
           transform:rotate(90deg);
           transform-origin: 75px 75px; 
           
           margin-left:25%; margin-right:0;
           margin-top:-50px;
           
       } 
       
       
       
       .play-button{
        border: 1px solid transparent;
        width: 50%;
        position:relative;
        left:125%;
        top:-2%;
    }
       #fretboard{
           border: 1px solid transparent;
           width:50%;
           height: 671px;
           margin-left:0;
           
           
           
           
           
           
       }
       .spinner{
        transform: rotate(90deg);
       }
       #chord_diagram_container{
        
        transform: rotate(90deg);
        border: 1px solid transparent;
        width:645px;
        height:130px;
        
        background-color:transparent;
        
        position:absolute;

        padding: 0;
        margin: 0 auto;
        
        right:0;
        float:left;
        left:0px;
        
        top:50%;
        
        
        

        }
       .chords{
           margin-left:5%;
           margin: 0 auto;
           padding-left:0;
           right:0;
           opacity:1;
           color:white;
       }
       #chord_name_container{
        
        display: flex;
        
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        
        border-radius: 3px;
        position: relative;
        background-color:transparent;
        
        /*
        border: 1px solid green;

        */
        
        height:35px;
        width: 185%;
        left:68%;
        top:-21.5%;

        left:80%;
        top:-5%;

        justify-content: left;
        
        
       }
       body{
           overflow-y:scroll;
           overflow-x:hidden;
           /* position fixed was here */
           
           height:950px;
           
           /* attempt to fix 
           height:890xp;
           */
           
       }
       
       .input_msg{
           /*border: 1px solid green; */
          
           
           padding:0;
           
           

           right:0;
        
           color:var(--white);
           padding:0;
            
        
            margin:  0 auto;
            transform: translateX(45px);
           
           
           
       }
       #chord_name_container{
            width:160%;
            margin-left:11%; margin-right:0;
           
       }

       
       .chord_diagram{
        transform: rotate(-90deg);
        filter: invert(90%);
       }
       
            
       #fret_full{
        margin-left:20%;
        }

        .random{
            visibility:visible;
            
            top:30px;
            left:76px;
            font-size:14px;
            
            

            cursor:pointer;
        }
        .reset{
            left:-55px;
            top:-40px;
        }


    }

       
       
        

    
    
    
   

    

    @media only screen and (max-width:600px){

        #chord_name_container{
            width:190px;
            margin-left:12%; margin-right:0;
            top: -21%;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius:0px;
            justify-content: normal;
            background-color: var(--white);
           
        
       }
       
       .random{
        top:-13px;
        left:9px;
        font-size:11px;
       }
       .reset{
        top:0px;
        left:10px;
       }

       .chords{
        color: var(--gray-hover);
        opacity:0.6;

        }
        .chords:hover{
            opacity: 1;
        }
        
       
       #fretboard{
        
       }
       #chord_diagram_container{
           
           background-color:transparent;
           
          
           margin: 0 auto;
           transform: rotate(90deg) ;
           background-color:transparent;
           
           
   
       }
       .input_msg{
        /*border: 1px solid green; */
        font-size:12px;
        
        padding:0;
        border: 1px solid transparent;
        
        margin:  0 auto;
        transform: translateX(6%);
        color: var(--black);
        
        
        
    }
       .chord_diagram{
        filter: invert(100%);
       }
       #black{
        box-shadow: -50px -15px 0px 0px var(--white), -50px 15px 0px 0px var(--white),40px -15px 0px 0px var(--white),40px 15px 0px 0px var(--white); 
        border-radius:5px;
        border-bottom-left-radius: 0px;
        border-top-left-radius:0px;
        
        
        }
        .play-button{
            
            margin: 0 auto;
            transform: translateX(-35%);
        }
        #chord_name_container{
            left:7%;
        }
        


        
    }
    @media only screen and (max-width:501px){
        
        .play-button{
            
            margin: 0 auto;
            transform: translateX(-25%);
        }
        

    }
    @media only screen and (max-width:430px){
        
        .play-button{
            
            margin: 0 auto;
            transform: translateX(-25%);
        }

    }
    @media only screen and (max-width:400px){
        
        .play-button{
            
            margin: 0 auto;
            transform: translateX(-19%);
        }

    }
    @media only screen and (max-width:371px){
        
        .play-button{
            
            margin: 0 auto;
            transform: translateX(-15%);
        }

    }
    
    
  

 

  /*
  @media only screen and (max-width:600px){

    #fret_full{
        transform:rotate(90deg);
        
    }

    body {
        overflow-y:auto;
        border-top: 6px solid var(--white);
        border-bottom: 6px solid var(--white);
        border-left: 1px solid var(--white);
        border-right: 1px solid var(--white);
       
        max-height:900px;
        height:900px;
    }

    #fretborder{
        position:absolute;
        transform:rotate(90deg);
        right:-523px;
        top:565px;
        width:730px;
        height:190px;
        
    }

    
    .play-button{
        top:400px;
        left:144%;
    }
  
 
    #fretboard {
        position: absolute;
        
        right:115%;
        top:-310px;

        width: 680px;
        height:20px;

    }

    
    
    .reset{
        
        left:145.5%;
        top:400px;
    }

    .page_title{
  
        white-space: nowrap;
        top:5%;
        left:2%;
        
        font-size:210%;
        color:var(--white);
        width:97%;
   
        
    }

    .boxes{
        top:300px;
        left:133%;
        display:flex;
        position:absolute;
        height: 80px;
        padding-left:65%;

        width: 40%;
        border: 1px solid red;
        background-color: red;
        
        
      }

    .square {
    
        bottom:983px;
        right:1px;
        display:inline-block;
        position:relative;
        height: 25px;
        width: 39px;
        border: 1px solid transparent;
        
      }
     

    
}
*/
@-moz-document url-prefix() { 

    .header{
        visibility:visible;
    }

    .nudge{
        margin-top:5.3px;
    }
  }
