

body {


    overflow:hidden; 
    background-color:#232323;
    border: 6px solid #fdf7e9;
    -webkit-box-sizing: border-box;/* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;/* Firefox, other Gecko */
    box-sizing: border-box;/* Opera/IE 8+ */
    
    
    
}

html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    }


#fretborder{
    border-radius:5px;
    position: absolute;
    top:80px;
    right:-39px;
    height:210px;
    width:767px;
    background-color:#fdf7e9;
    z-index:-100;
}

.reset{
    position:relative;
    height:30px;
    top:140px;
    left:730px;
    width:80px;
    border:1px solid green;
    cursor:pointer;
}

.reset:hover{
    background: #f3edd6;
}
.item {
    
    display:inline-block;
    margin: 0.7rem;
    background: #f3edd6;
    border: 3px solid #b59214;
    color: #b59214;
    padding: 2.8rem;
    font-size: 2rem;
    text-align: center;
    width:10px;
  }

.chords{
    display:inline-block;
    font: 20px 'Gotham';
    color: #595959;
    margin-left:25px;
    
    margin-top:6px;
    cursor:pointer;
}

.chords:hover{
    color: #3a3a3a;
}

.chord_diagram{
    top:9px;
    position:absolute;
    height:90%; 
    display:inline-block;
    
}
#chord_diagram_container{

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position:relative;
    background-color: #fdf7e9;

   
    

    /*
    border: 1px solid green;

    */
    height:120px;
    top: -760px;
    width: 767px;
    left:-48px;

}

.frets{
    font-family: 'Marvel';
    margin-left:35.65px;
    font-size:11px;
}
.fret_numbers{
    visibility: hidden;
    left:-14px;
    top:-990px;
    
    position: relative;
    
    
    /*
    border: 1px solid green;
    */
    height:10px;
    width:710px;
}



#chord_name_container{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    background-color: #fdf7e9;
    
    /*
    border: 1px solid green;

    */
    
    height:35px;
    width: 767px;
    left:-48px;
    top: -764px;
    
}

.info{
    color:white;
    margin-top:80%;
    border: 1px solid green;
}

#title{
    
    
    position:absolute;
    width:600px;
    left:28%;
    top:15%;
    
}

#everything{
    zoom:1;
    
    
}

#fretboard {
    
    position: absolute;
    

    padding-top: -10%;
    padding-left:25%;
    width: 680px;
    
    
    
}



.header{
    visibility:hidden;
    width:110%;
    height:80px;
    display:block;
    background-color:gray;
    
}

.logo_container{
    
    height:160px;
    top:-20px;
    text-align:center;
    position:relative;
    border: 1px solid green;
    
}

#sidebar{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}


.x{
    width:12px;
    opacity:0;
    
    cursor: pointer;
    position:relative;
    font-family:  'Arial', sans-serif;
    font-size: 1.2em;
    color: rgb(105, 105, 105);
    font-weight: bold;
    
    top: -436px;
    left: -5px;
    display: block;
    margin-top: 8px;
}

.x:hover{
    opacity:1;
    color: rgb(170, 59, 59);
}

.x:hover.string1{
    opacity:1;
    color: rgb(170, 59, 59);
}
.x.string1{
    opacity:0;
    display:block;
}




.box {
    opacity: 0;
    position:relative;
    cursor: pointer;
    border: 1px solid red;
    top: -13px;
    width: 674px;
    left: -5px;
    height: 10px;
    
}


.nudge{
    opacity: 0;
    margin-right:15.5px;
    margin-top:4.5px;
    cursor: pointer;
    position: relative;
    
    top:-300px;
    left: 14px;
    right: 40px;
    
    width: 23px;
    height: 20px;
    
    border: 1px solid #3a3a3a;
    /* opacity: 0; 
    
    
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    */
}

.nudge:hover{
    opacity:1;
    margin-right:19px;
    margin-top:2px;

    width: 16px;
    height:16px;
    border-radius: 50%;
    background-color: #595959;
    
}

#nodegrid{
    position:relative;
    /* shift everything here*/ 
    
}

@font-face {
    font-family: 'Gotham';
    src: url('./GothamBold.eot');
    src: url('./GothamBold.eot?#iefix') format('embedded-opentype'),
        url('./GothamBold.woff2') format('woff2'),
        url('./GothamBold.woff') format('woff'),
        url('./GothamBold.svg#GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
}



.note_circle{
    
    display:block;
    position: relative;
    top:-795px;
    left:-35px;
    
    border-radius: 50%;
    width: 9px;
    height: 9px;
    padding: 9px;

    background: rgb(255, 255, 255);
    border: 2px solid #666;
    color: #666;
    
    
    font: 20px 'Gotham';
    line-height: 12px;
    text-align: center;
    
    cursor: pointer;
    
    
    font-weight: bold;
}


.open{
    cursor: pointer;
    display:block;
    position:relative;

    margin-top:5.3px;
    top: -614px;
    left:-32px;
    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: gray;
    
    
}


.play-button{
    
    position:relative;
    left:730px;
    top:145px;
}

.round-button {
    
	box-sizing: border-box;
	display:block;
	width:70px;
	height:70px;
	padding-top: 17px;
	padding-left: 8px;
	line-height: 20px;
	border: 6px solid #232323;
	border-radius: 50%;
	color:#232323;
	text-align:center;
	text-decoration:none;
	background-color: #fdf7e9;
	font-size:13px;
	font-weight:bold;
	transition: all 0.3s ease;
}
.round-button:hover {
    background-color: rgba(0,0,0,0.8);
    
    /*
	box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 10px white;
    */
}
